*,*::after, *::before{
    outline-color: unset;
    outline-style: none;
}
#page-wrapper{
    min-height: calc(100vh - 64px) !important;
    padding-left: 32px;
    margin: 64px 0 0 256px;
    @media screen and (max-width: 767px){
        height: auto;
        margin: 105px 0;
    }
}
.home-page{
    .container-fluid{
        padding:0;
    }
}
#wrapper{
    height: 100%;
}
.btn-primary{
    background: $primary;
    color: $white;
    border: 0px;
    border-radius: 0;
    &:hover, &:focus, &:active{
        background: $primary;
        opacity: 0.6;
        text-decoration: none;
    }
}
.float-right{
    float: right;
}
.btn-default{
    border-radius: 0;
}
.color-primary{
    color: $info;
}
.mt-30{
    margin-top: 30px;
}
.invalid-feedback{
    color: red;
}
.cursor-pointer{
    cursor: pointer;
}
.tooltip.top .tooltip-inner {
    background-color:#fff;
    color: black;
}
.tooltip.top .tooltip-arrow {
      border-top-color: #ddd;
}
.cursor-pointer:hover i{
    color: #e4a624 !important;
}
.popup-user-delete{
    width: 450px;
    .modal-content{
        border: none;
        border-radius: 0;
    }
    .btn-primary{
        background-color: $colorbutton;
    }
    h5{
        font-weight: bold;
        margin-top: 25px;
        font-size: 18px;
    }
    h4{
        font-size: 18px;
        margin-top:10px;
    }

    .modal-button{
        margin-top: 35px;
        margin-bottom: 25px;
        .btn{
            padding: 10px 25px;
        }
        .btn-primary{
            margin-right: 5px;
        }
        .btn-default{
            background: $info;
            color: #565656;
            border: 0;
            margin-left: 5px;
        }
    }

    .btn-delete{
        background-color: $primary;
        color: $white;
    }
    .fa-mobile{
        color: $colorbutton;
        font-size: 50px;
    }

}
.otp{
    width: 90%;
    display: block;
    margin: 20px auto 0;
    label{
        font-size: 12px;
        text-align: left;
        display: block;
        font-weight: normal;
    }
    .form-control{
        border-radius: 0;
        background-color: #E9EAEB;
    }
    a{
        color: $colorbutton;
        font-size: 12px;
        font-style: italic;
        text-align: left;
        display: block;
        text-decoration: none;
        margin-top: 5px;
    }
}
.btn.active.focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn:active:focus, .btn:focus {
    outline: 0;
    outline-offset: none;
}
.btn:hover {opacity: 0.6}
@import url("https://fonts.googleapis.com/css?family=Lato");

$font_path: '~@/assets/fonts/';

@font-face {
    font-family: 'Lato-Black';
    src:  url($font_path+'Lato-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}
@font-face {
    font-family: 'Lato-Black-Italic';
    src:  url($font_path+'Lato-BlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}
@font-face {
    font-family: 'Lato-Bold';
    src:  url($font_path+'Lato-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Lato-Bold-Italic';
    src:  url($font_path+'Lato-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}
@font-face {
    font-family: 'Lato-Regular-Italic';
    src:  url($font_path+'Lato-Italic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
}
@font-face {
    font-family: 'Lato-Regular';
    src:  url($font_path+'Lato-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
html, body, form, fieldset, table, tr, td, img {
    font-family: 'Lato';
}
div,a, p, span, h1, h2, h3, h4, h5, input, button, select, textarea, optgroup, option{
    font-family: 'Lato';
}
.form-group{
    margin-bottom: 10px;
}
.clear-fix{
    clear: both;
}
.my-clipper canvas{
    height: 160px !important;
}