.upload-avatar-popup{
    .otpcode {
        width: 100%;
    }
    input[type="file"] {
        display: none;
    }
    .custom-file-upload {
        font-size: 12px;
        font-family: 'Lato-Regular-Italic';
        color: $primary;
        float: right;
        display: inline-block;
        padding: 6px 0;
        cursor: pointer;
    }
    .popup-upload-avatar {
        img {
            width: 160px;
        }

        .modal-footer {
            border-top: 0px;
        }
    }

    .my-clipper {
        // width: 350px;
        max-height: 350px;
        max-width: 350px;
    }

    .placeholder {
        text-align: center;
        padding: 20px;
        background-color: lightgray;
    }


}

.swal2-container{
    background: #FFFFFF00 0% 0% no-repeat padding-box;
    opacity: 1;
    backdrop-filter: blur(7px);
    -webkit-backdrop-filter: blur(7px);
    .swal2-popup{
        border-radius: 0;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        -ms-border-radius: 0;
        -o-border-radius: 0;
        width: auto;
        padding: 32px;
        background: #FFFFFF 0% 0% no-repeat padding-box;
        box-shadow: 0px 10px 15px #0000001A;
        opacity: 1;
    }
    .swal2-header{
        padding: 0;
    }
    .swal2-confirm, .swal2-cancel{
        width: 208px;
        height: 64px;
        margin: auto;
        border-radius: 0;
        padding: 0;
        line-height: 64px;
        box-shadow: 0px 5px 10px #00000029;
        color: #FFFFFF;
        font-size:18px;
        margin-top:20px;
    }
    .swal2-confirm{
        background-color: $primary !important;
    }
    .swal2-confirm:focus{
        outline: none;
        outline-style: none;
        outline-offset: unset;
    }
}

.popup-upload-avatar{
    width: 416px;
    transform: translate(0,54%);
    -webkit-transform: translate(0,54%);
    -moz-transform: translate(0,54%);
    -ms-transform: translate(0,54%);
    -o-transform: translate(0,54%);

    .modal-title
    {
        font-family: 'Lato-Bold';
        margin-bottom: 20px;
        padding-left: 17px;
    }
    .modal-footer{
        border: none;
    }
    .btn-default{
        background-color: #ACACAC;
        border: none;
    }
    .col-sm-6{
        width: 160px !important;
        padding: 0;
        margin-left: 32px;
    }
    .left-img{
        position: relative;
        // p{
        //     position: absolute;
        //     bottom: -30px;
        //     left: 22%;
        // }
    }
    .js-clip-area{
        width: 160px !important;
        height: 160px !important;
        float: left;
    }
    .wrap{
        width: 160px !important;
        height: 160px !important;
    }
}

.modal-content{
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;

    .modal-header, .modal-footer{
        border: none;
    }
    .btn{
        border: none;
    }
    .btn-info{
        &:focus,&:hover{
            outline: none;
            outline-style: none;
            outline-offset: unset;
            background-color: $primary;
            border-color: $primary;
        }

        background-color: $primary;
        border-color: $primary;
        border-radius:0 ;
        -webkit-border-radius:0 ;
        -moz-border-radius:0 ;
        -ms-border-radius:0 ;
        -o-border-radius:0 ;
    }
    .btn-default{
        background-color: #ACACAC;
    }
    .btn-danger{
        border-radius:0 ;
        border-color:unset;
        text-align: center;
        padding: 7px 15px;
        text-decoration: unset;
        transform: translateY(-4px);
        &:focus,&:hover{
            outline: none;
            outline-style: none;
            outline-offset: unset;
            background-color:  #ACACAC;
            border-color:  #ACACAC;
        }
    }
    label{
        margin-bottom: 4px;
        font-size: 12px;
        font-family: 'Lato-Regular'
    }
    input[type=password],input[type=text],input[type=email]{
        background-color: #E9EAEB;
        color: #3A3A3A;
        border-radius: 0;
        border: none;
        font-size: 16px;
        font-family: 'Lato-Regular';
        box-shadow: none;
    }
}

.modal-group-view{
    
    .modal-header{
        padding: 15px 32px;
    }
    .modal-body{
        padding: 0 32px 15px;
    }
    .modal-footer{
        padding: 32px ;
    }
    .list-group-item{
        border: none;
        border-radius: 0;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        -ms-border-radius: 0;
        -o-border-radius: 0;
        border-top: 1px solid #D9D9D9;
        padding: 5px 0; 
        &:first-child{
            border: none;
        }
    }   
    .btn-i{
        background-color: transparent;
        color: #ACACAC;
        border: none;
        float: right;
        padding: 0;
        &:active{
            box-shadow: none;
        }
    }
    .add_user{
        .title-add-user{
            font-family: 'Lato-Bold';
            margin-bottom: 4px;
        }
        .memo{
            font-family: 'Lato-Regular-Italic';
            color: #ACACAC;
        }
        .inp-email{
            width: 100%;
            height: 32px;
            line-height: 32px;
            padding-left: 5px;
            color: #ACACAC;
            font-size: 14px;
        }

        .dropdown{
            margin-top: 15px;
            width: 100%;
            height: 32px;
            border-radius: 0;
            border-color: #D9D9D9;
        }
    }
}
.modal-sm{
    width: 400px;
    .modal-footer{
        padding-top: 0;
    }
    
}

.modal-w-400{
    width: 400px;
}