////////// COLOR SYSTEM //////////
$primary: #E4A624;
$info: #ACACAC;
$blue: #03a9f3;
$indigo: #6610f2;
$purple: #ab8ce4;
$pink: #E91E63;
$red: #f96868;
$orange: #fb9678;
$yellow: #ffb463;
$green: #00c292;
$teal: #58d8a3;
$cyan: #57c7d4;
$black: #000;
$white: #ffffff;
$white-smoke: #f4f4f4;
$ghost-white: #f7fafc;
$violet: #41478a;
$darkslategray: #2e383e;
$dodger-blue: #3498db;
$blue-teal-gradient: #272727;
$blue: #1991EB;
$indigo: #6610f2;
$purple: #745af2;
$pink: #e83e8c;
$red: #FF0017;
$orange: #FFC105;
$yellow: #ffc107;
$green: #08D419;
$teal: #58d8a3;
$cyan: #17a2b8;
$white: #ffffff;
$border-black: #cccccc;
$btn-black:  #565656;
$colorbutton: $primary;
$colorbackground:  transparent linear-gradient(122deg, #F5F5F5 0%, #D9D9D9 100%) 0% 0% no-repeat padding-box;
$background-sidebar: transparent linear-gradient(167deg, #5A5A5A 0%, #000 100%) 0% 0% no-repeat padding-box;
