/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.gap10{
    padding: 10px;
}




.amount{

}
.amountnegative{
    color:red;
}
.amountpositive{
    color:green;
}

@import 'jsoneditor/dist/jsoneditor.min.css';